@import "tailwindcss";
.fonts {
    font-family: fantasy;
}

.input-bg {
    background-color: #261046;
}

.linear-gradient {
    background: linear-gradient(to bottom, #501794, #3E70A1);
}

.linear-gradient-1 {
    background: linear-gradient(to bottom, #160a28, #261643);
}

.btns {
    color: #6d28d9;
}

.box-shadow-1 {
    box-shadow: 2px -2px 20px 5px #230f41;
}

.box-shadow-2 {
    box-shadow: 0px 12px 14px 0px #46287b;
}